body{
    margin: 0 auto;
    background-color: rgba(255, 166, 0, 0.252);
    height: 100vh;
}
.text{
    text-align: center;
}
.text span{
    width: 200px;
}
.text h1{
    color: orange;
   padding-top: 30px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}
img{
    width:450px;
    height: 350px;
    margin-right: 20px;
}
.bottomimg{
    display: flex;
    justify-content: center;
}
.bottomimg img{
    width: 900px;
    height: 350px;
}